.container {
	width: var(--container-width-lg);
	margin: 0 auto;
}

// Responsive
@media screen and (max-width: 1024px) {
	.container {
		width: var(--container-width-md);
	}
}

@media screen and (max-width: 600px) {
	.container {
		width: var(--container-width-sm);
	}
}
